<div class="container-fluid" style="padding:0px;">
    <div class="row no-margin" style="height:100px; background-color:#555;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <div class="row no-margin" style="padding-top:40px;">
                <div class="text-center" style="color:#fff;">John Greaux - 2017</div>
            </div>
        </div>
    </div>
</div>
