<div class="container-fluid" style="padding:0px;">
    <div class="row" style="height:75px; background-color:#eee;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
            <div class="row no-margin">
                <div class="h2" style="padding-left:15px;">
                    <span class="glyphicon glyphicon-folder-open" style="color:#93cc93;"></span>
                    <span style="padding-left:15px;">Browsr</span>
                </div>
            </div>
        </div>
    </div>
</div>
